.list-item {
  .add-item {
    display: inline-block;
    color: white;
    border-radius: 2px;
    background: #00800091;
    margin-bottom: 15px;
  }

  .container-item-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 65%;
    margin: auto;

    .card {
      margin: 0 20px 20px;

      .mat-card-header {
        ::ng-deep {
          .mat-card-header-text {
            width: 100%;
          }
        }

        .loding-cur {
          display: inline-block;
        }

        .mat-card-actions {
          display: flex;
          margin: 0;
          align-items: flex-end;
        }
      }
    }

    .mat-card-actions {
      display: flex;
      justify-content: flex-end;
    }
  }
}
