.add-item {
  padding: 30px;
  margin: auto;
  width: fit-content;
  max-width: -webkit-fill-available;
  
  .col-12 {
    width: 100%;
  }

  .full-with {
    display: flex;

    .col-6 {
      flex: 1;
      min-width: 100px;

      &:first-child {
        margin-right: 2%;
      }
    }
  }

  .footer-btn {
    color: white;
    .btn-add {
      background: #00800091;
      margin: 0 15px;
    }
    .btn-back {
      background: #838f8391;
    }
  }
}
