.recevied {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 67%;
  margin: auto;
  padding: 20px;
  
  .card {
    max-width: 400px;
    margin: 0 20px 20px;
    width: min-content;
  }
}
